@import '../base/variables.scss';

.btn {
    width: 300px;
    height: 40px;
    border: 2px solid $main-color;
    background-color: #fff;
    color: $main-color;
    border-radius: 4px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: $main-color;
        border: none; 
        outline: none;
    }
    
}