@import '../base/variables.scss';

.field {
    position: relative;
    width: 300px;
    height: 40px;
    &_size_large {
        height: 60px;
    }
    &_size_small {
        width: 150px;
    }
    & input[type=number] {
        appearance: none;
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
    &__entry {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        outline: none;
        padding: 0 15px;
        z-index: 1;
        background: none;
        color: rgba(31, 32, 65, 0.75);
        font-size: .75rem;
        &_pt {
            padding: 13px 15px;
        }
        
        &:valid:focus {
            border-color: #2ecc71;
        }
        &:valid:focus + .field__label {
            color: #2ecc71;
        }
        &:invalid:focus:not(:placeholder-shown) {
            border-color: #e74c3c;
        }
        &:invalid:focus:not(:placeholder-shown) + .field__label {
            color: #e74c3c;
        }
        &_required_false {
            &:valid:focus {
                border-color: $main-color;
            }
            &:valid:focus + .field__label {
                color: $main-color;
            }
        }
    }
    &__label {
        position: absolute;
        left: 15px;
        top: 11px;
        padding: 0 .25rem;
        background-color: #fff;
        font-weight: 400;
        font-size: .875rem;
        color: rgba(31, 32, 65, 0.25);
        transition: .3s;
        & .mask-phone {
            display: inline;
            margin-left: 5px;
            font-size: .75rem;
        }
        & span {
            display: none;
            margin-left: 5px;
            font-size: .75rem;
        }
    }
    &__icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: rgba(31, 32, 65, 0.25);
        }
    }
    &__option {
        height: 30px;
        font-size: .875rem;
        color: rgba(31, 32, 65, 0.75);
    }
}

.field__entry:focus + .field__label {
    top: -.5rem;
    left: .8rem;
    color: $main-color;
    font-weight: 700;
    z-index: 10;
    font-size: .75rem;
    & .mask-phone {
        color: $main-color; 
    }
    & span {
        color: #e74c3c;
        display: inline;
    }
    
}
.field__entry:not(:placeholder-shown).field__entry:not(:focus) + .field__label {
    top: -.5rem;
    left: .8rem;
    z-index: 10;
    font-size: .75rem;
    font-weight: 700;
}

.field__entry:focus {
    border: 1px solid $main-color;
}