@import '../base/variables.scss';

.figure {
    position: relative;
    max-width: 300px;
    align-self: flex-end;
    img {
        width: 100%;
    }
    &__wrap {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 42%;
        left: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &__rect {
        background-color: brown;
    }
    &__num {
        position: absolute;
        top: 55%;
        right: 45px;
        font-weight: 700;
        color: brown;
        font-size: 1.125rem;
    }
}