@import '../base/variables.scss';

.figure {
    position: relative;
    max-width: 300px;
    align-self: flex-end;
    img {
        width: 100%;
    }
    &__rect {
        position: absolute;
        top: 52%;
        left: 2rem;
        width: 70px;
        height: 40px;
        background-color: brown;
    }
    &__num {
        position: absolute;
        top: 55%;
        right: 45px;
        font-weight: 700;
        color: brown;
        font-size: 1.125rem;
    }
}