@import '../base/variables.scss';

.form {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    padding: 40px 30px;
    &_mb {
        margin-bottom: 20px; 
    }
    .form-city {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 20px;
    }
    .form-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 20px;
    }
    .form-parameter {
        display: grid;
        grid-template-columns: repeat(auto-fit, 150px);
        grid-gap: 20px;
        &__wrap {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }
        /* & .field:nth-child(3) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        & .field:nth-child(4) {
            grid-row: 2/3;
        } */
    }
    &__btn {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    &__result {
        display: flex;
        justify-content: flex-start;
    }
    &__title {
        font-size: .875rem;
        margin-right: 10px;
    }
    &__sum {
        font-weight: 700;
    }


}