@import '../base/variables.scss';

.switch {
    &__btn {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin: 0;
        vertical-align: top;
        background-color: #fff;
        border: 1px solid #bbc1e1;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        transition: .3s;
        appearance: none;
        &::after {
            content: '';
            position: absolute;
            left: 3px;
            top: 3px;
            width: 12px;
            height: 12px;
            background-color: $main-color;
            border-radius: 50%;
            transition: .3s;
            transform: translateX(0);
        }
        &:checked::after {
            transform: translateX(calc(100% + 6px));
            background-color: #fff;
        }
        &:checked {
            background-color: $main-color;
        }
    }
    &__text {
        font-weight: 400;
        margin-left: 5px;

    }
}
