@import '../base/variables.scss';

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
        height: 20px;
    &__input {
        display: none;
    }
    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            transition: .4s;
            border-radius: 50%;
        }
    }
    &__input:checked + &__slider {
        background-color: $main-color;
    }
    &__input:focus + &__slider {
        box-shadow: 0 0 1px $main-color;
    }
    &__input:checked + &__slider::before {
        transform: translateX(20px);
    }
}
