.window-thanks {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 800px;
    min-height: 300px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &.open {
        display: block;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 40px;
        color: red;
        cursor: pointer;
    }
    &__title {
        margin-top: 10px;
        text-align: center;
        font-weight: 700;
        font-size: 1.125rem;
    }
    &__img {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 600px;
        & img {
            width: 100%;
        }
    }
}