@import "~normalize.css";

@import 'libs/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@import './blocks/calendar.scss';


@import './blocks/main.scss';
@import './blocks/heading.scss';
@import './blocks/form.scss';
@import './blocks/subheading.scss';
@import './blocks/field.scss';
@import './blocks/slider.scss';
@import './blocks/btn.scss';
@import './blocks/figure.scss';
@import './blocks/modal.scss';
@import './blocks/info.scss';
@import './blocks/switch.scss';
@import './blocks/window-thanks.scss';

@import './base/media.scss';
